header, h6 {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.content img {
  display: block;
  margin: auto;
  width: 50%;
}

.food {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0px;
}

header {
  color: white;
}

.adres {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

 a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

header a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

header a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

header a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

header h6 {
  color: white;
}

table {
  font-size: 11px;
  color: black;
  background-color: #C3BA9E;
  margin-left: auto;
  margin-right: auto;
}

table td, th {
  text-align: center;
  padding: 10px;
}

table td {
  border: 1px #0B2B45 solid;
  padding-top: 5px;
  padding-bottom: 5px;
}